# Copyright (c) 2024 Nations Technologies
# SPDX-License-Identifier: Apache-2.0

config GPIO_N32
	bool "N32 GPIO driver"
	default y
	depends on DT_HAS_NSING_N32_GPIO_ENABLED
	help
	  Enable the Nations Technologies N32 GPIO driver.
