# Copyright (c) 2024 Nations Technologies Inc.
# SPDX-License-Identifier: Apache-2.0

config GPIO_INTC_N32
	bool "N32 GPIO Interrupt/Event Controller (EXTI) Driver"
	default y
	depends on DT_HAS_NSING_N32_EXTI_ENABLED
	help
	  Enable the N32 GPIO interrupt controller (EXTI) driver.
