# Copyright (c) 2024 Nations Technologies
# SPDX-License-Identifier: Apache-2.0

config DMA_N32
	bool "Nations N32 DMA driver"
	default y
	depends on DT_HAS_NSING_N32_DMA_ENABLED
	select USE_NSING_DMA
	help
	  DMA driver for Nations N32 series MCUs.
