# Copyright (c) 2024 Nations Technologies
# SPDX-License-Identifier: Apache-2.0

menuconfig SPI_N32
	bool "N32 SPI controller driver"
	default y
	depends on DT_HAS_NSING_N32_SPI_ENABLED
	select USE_NSING_SPI
	help
	  Enable SPI support on the Nations Technologies N32 SoC family.
