/*
 * Copyright (c) 2024 Nations Technologies Inc.
 *
 * SPDX-License-Identifier: Apache-2.0
 */

#include <zephyr/dt-bindings/pinctrl/n32g45x-pinctrl.h>

&pinctrl {
	/* USART1, default mapping (PA9/PA10) */
	usart1_tx_pa9: usart1_tx_pa9 {
		pinmux = <N32G45X_PINMUX('A', 9, ALTERNATE, USART1_REMAP0)>;
		slew-rate = "50mhz";
	};

	usart1_rx_pa10: usart1_rx_pa10 {
		pinmux = <N32G45X_PINMUX('A', 10, GPIO_IN, NO_REMAP)>;
		bias-pull-up;
	};

	/* I2C1, default mapping (PB6/PB7) */
	i2c1_scl_pb6: i2c1_scl_pb6 {
		pinmux = <N32G45X_PINMUX('B', 6, ALTERNATE, I2C1_REMAP0)>;
		drive-open-drain;
	};

	i2c1_sda_pb7: i2c1_sda_pb7 {
		pinmux = <N32G45X_PINMUX('B', 7, ALTERNATE, I2C1_REMAP0)>;
		drive-open-drain;
	};

	/* I2C1, remapped to PB8/PB9 */
	i2c1_scl_pb8: i2c1_scl_pb8 {
		pinmux = <N32G45X_PINMUX('B', 8, ALTERNATE, I2C1_REMAP1)>;
		drive-open-drain;
	};

	i2c1_sda_pb9: i2c1_sda_pb9 {
		pinmux = <N32G45X_PINMUX('B', 9, ALTERNATE, I2C1_REMAP1)>;
		drive-open-drain;
	};

	/* CAN1, default mapping (RX=PA11, TX=PA12) */
	can1_rx_pa11: can1_rx_pa11 {
		pinmux = <N32G45X_PINMUX('A', 11, GPIO_IN, NO_REMAP)>;
		bias-pull-up;
	};

	can1_tx_pa12: can1_tx_pa12 {
		pinmux = <N32G45X_PINMUX('A', 12, ALTERNATE, CAN1_REMAP0)>;
		slew-rate = "50mhz";
	};

	/* CAN2, default mapping (RX=PB12, TX=PB13) */
	can2_rx_pb12: can2_rx_pb12 {
		pinmux = <N32G45X_PINMUX('B', 12, GPIO_IN, NO_REMAP)>;
		bias-pull-up;
	};

	can2_tx_pb13: can2_tx_pb13 {
		pinmux = <N32G45X_PINMUX('B', 13, ALTERNATE, CAN2_REMAP0)>;
		slew-rate = "50mhz";
	};

	/* SPI1, default mapping (PA5/PA6/PA7) */
	spi1_sck_pa5: spi1_sck_pa5 {
		pinmux = <N32G45X_PINMUX('A', 5, ALTERNATE, SPI1_REMAP0)>;
		slew-rate = "50mhz";
	};

	spi1_miso_pa6: spi1_miso_pa6 {
		pinmux = <N32G45X_PINMUX('A', 6, GPIO_IN, NO_REMAP)>;
	};

	spi1_mosi_pa7: spi1_mosi_pa7 {
		pinmux = <N32G45X_PINMUX('A', 7, ALTERNATE, SPI1_REMAP0)>;
		slew-rate = "50mhz";
	};

	/* SPI2, default mapping (PB13/PB14/PB15) */
	spi2_sck_pb13: spi2_sck_pb13 {
		pinmux = <N32G45X_PINMUX('B', 13, ALTERNATE, SPI2_REMAP0)>;
		slew-rate = "50mhz";
	};

	spi2_miso_pb14: spi2_miso_pb14 {
		pinmux = <N32G45X_PINMUX('B', 14, GPIO_IN, NO_REMAP)>;
	};

	spi2_mosi_pb15: spi2_mosi_pb15 {
		pinmux = <N32G45X_PINMUX('B', 15, ALTERNATE, SPI2_REMAP0)>;
		slew-rate = "50mhz";
	};

	/* SPI3, remapped to PC10/PC11/PC12 (REMAP1, avoids LED conflict) */
	spi3_sck_pc10: spi3_sck_pc10 {
		pinmux = <N32G45X_PINMUX('C', 10, ALTERNATE, SPI3_REMAP1)>;
		slew-rate = "50mhz";
	};

	spi3_miso_pc11: spi3_miso_pc11 {
		pinmux = <N32G45X_PINMUX('C', 11, GPIO_IN, NO_REMAP)>;
	};

	spi3_mosi_pc12: spi3_mosi_pc12 {
		pinmux = <N32G45X_PINMUX('C', 12, ALTERNATE, SPI3_REMAP1)>;
		slew-rate = "50mhz";
	};

	/* TIM3 PWM, default mapping (TIM3_REMAP0):
	 *   CH1 = PA6, CH2 = PA7, CH3 = PB0, CH4 = PB1.
	 * PA6/PA7 are occupied by SPI1 (MISO/MOSI), so only the free
	 * channels CH3 (PB0) and CH4 (PB1) are exposed for PWM output.
	 * These are PWM channels 2 and 3 respectively. */
	tim3_ch3_pb0: tim3_ch3_pb0 {
		pinmux = <N32G45X_PINMUX('B', 0, ALTERNATE, TIM3_REMAP0)>;
	};

	tim3_ch4_pb1: tim3_ch4_pb1 {
		pinmux = <N32G45X_PINMUX('B', 1, ALTERNATE, TIM3_REMAP0)>;
	};
};
