/* SPDX-License-Identifier: Apache-2.0 */

/dts-v1/;
#include <nsing/n32g45x/n32g45x.dtsi>
#include "n32g45xml_stb-pinctrl.dtsi"

/ {

	model = "n32g45xml_stb";
	compatible = "nsing,n32g45xml_stb";

	chosen {
		zephyr,sram = &sram0;
		zephyr,flash = &flash0;
		zephyr,console = &usart1;
	};

	leds {
		compatible = "gpio-leds";
		green_led: led_1 {
			gpios = <&gpioa 8 GPIO_ACTIVE_HIGH>;
		};
		blue_led: led_2 {
			gpios = <&gpiob 4 GPIO_ACTIVE_HIGH>;
		};
		red_led: led_3 {
			gpios = <&gpiob 5 GPIO_ACTIVE_HIGH>;
		};
	};

	aliases {
		led0 = &green_led;
		led1 = &blue_led;
		led2 = &red_led;
	};
};

&gpioa {
	status = "okay";
};

&gpiob {
	status = "okay";
};

&rcc {
	
	clock-frequency = <DT_FREQ_M(144)>;
	ahb-prescaler = <1>;
	apb1-prescaler = <2>;
	apb2-prescaler = <1>;
	
};

&usart1 {
	pinctrl-0 = <&usart1_tx_pa9 &usart1_rx_pa10>;
	pinctrl-names = "default";
	current-speed = <115200>;
	status = "okay";
};


&i2c1 {
	pinctrl-0 = <&i2c1_scl_pb6 &i2c1_sda_pb7>;
	pinctrl-names = "default";
    clock-frequency = <I2C_BITRATE_STANDARD>;
    status = "okay";
};

&can1 {
	pinctrl-0 = <&can1_rx_pa11 &can1_tx_pa12>;
	pinctrl-names = "default";
	bitrate = <500000>;
	status = "okay";
};

&can2 {
	pinctrl-0 = <&can2_rx_pb12 &can2_tx_pb13>;
	pinctrl-names = "default";
	bitrate = <500000>;
	status = "okay";
};